:root {
  --bg-color-main: #212529;
  --bg-color-panel: #2b3035;
  --text-color-primary: #dee2e6;
  --text-color-secondary: #adb5bd;
  --border-color: #495057;
  --accent-color: #0d6efd;
  --tab-bg-active: var(--bg-color-main);
  --tab-bg: #343a40;
}
body.light-theme {
  --bg-color-main: #ffffff;
  --bg-color-panel: #f8f9fa;
  --text-color-primary: #212529;
  --text-color-secondary: #6c757d;
  --border-color: #dee2e6;
  --accent-color: #0d6efd;
  --tab-bg-active: var(--bg-color-main);
  --tab-bg: #e9ecef;
}
body,
html {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-size: 0.95rem;
}
body {
  background-color: var(--bg-color-panel);
  color: var(--text-color-primary);
}
.main-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.main-content {
  flex-grow: 1;
  display: flex;
  overflow: hidden;
}
#object-explorer-panel {
  overflow-y: auto;
  background-color: var(--bg-color-panel);
}
.main-panel {
  display: flex;
  flex-direction: column;
}
#query-editor-panel {
  background-color: var(--bg-color-main);
}
#results-panel {
  overflow: auto;
  background-color: var(--bg-color-panel);
}
.CodeMirror {
  height: 100%;
}
.gutter {
  background-color: var(--border-color);
  background-repeat: no-repeat;
  background-position: 50%;
  transition: background-color 0.2s ease-in-out;
}
.gutter:hover {
  background-color: var(--accent-color);
}
.gutter.gutter-horizontal {
  cursor: col-resize;
}
.gutter.gutter-vertical {
  cursor: row-resize;
}
.nav-tabs .nav-link {
  background-color: var(--tab-bg);
  border-color: var(--border-color);
  color: var(--text-color-secondary);
}
.nav-tabs .nav-link.active {
  background-color: var(--tab-bg-active);
  border-bottom-color: var(--tab-bg-active);
  color: var(--text-color-primary);
}
.light-theme #object-explorer-tree {
  background: var(--bg-color-panel);
}
.jstree-default .jstree-anchor {
  color: var(--text-color-primary);
}
.jstree-default .jstree-hovered {
  background-color: rgba(13, 110, 253, 0.1);
}
.jstree-default .jstree-clicked {
  background-color: rgba(13, 110, 253, 0.2);
}
.jstree-icon {
  color: var(--text-color-secondary);
}
#query-editor-panel .bg-light {
  background-color: var(--bg-color-panel) !important;
  border-color: var(--border-color) !important;
}
#results-table-container tfoot input {
  width: 100%;
  padding: 3px;
  box-sizing: border-box;
  background-color: var(--bg-color-main);
  color: var(--text-color-primary);
  border: 1px solid var(--border-color);
  border-radius: 3px;
}
